<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
            </encoder>
        </appender>
        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/chrow16/deploy/logs/log.%d{yyyy-MM-dd}-%i</fileNamePattern>
                <maxHistory>5</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>512MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="dailyRollingFileAppender"/>
        </root>
    </springProfile>
</configuration>